[user]
	email = alexandr.mykytenko@gmail.com
	name = Oleksandr Mykytenko
	signingkey = 4A678EE89F6B2252
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
