[user]
	email = alexandr.mykytenko@gmail.com
	name = Oleksandr Mykytenko
	signingkey = F50367AF2FE145BD
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
